body {
	color: #333;
	font: normal 18px/30px 'Lato', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}
.container{
	width: 760px;
	margin: 0 auto;
}

section {
	padding: 50px 0;
	text-align: center;
}

.section-1 {
	background: #f25f5c;
	color: #fdeaea;
}

.section-2 {
	background: #f2ecbd;
}

.section-3 {
	background: #8abeb2;
}