

//VARIABLES
//------------------------------------

$font-size-base: 100%;
$font-family-sans: Montserrat, sans-serif;
$font-family-serif: 'Big Caslon', serif;

$color-text: #fff;
$color-muted: #777;

$color-bg-body: #2f313c;
$color-bg-gallery: #ffd256;

//
// GENERAL
//-------------------------

// border-box
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $color-text;
    background: $color-bg-body;

    text-align: center;
    margin: 0;

    font:{
        size: $font-size-base;
        family:$font-family-sans;
        weight: normal;
    }
}

a {
    color: $color-text;
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li, a {
        display: inline-block;
    }
}


//
// TYPOGRAPHY 
//-------------------------

h1{
    font-size: 75px;
    text-transform: uppercase;
}


//
// SIDEBAR
//-------------------------