

//VARIABLES
//------------------------------------
$color-text: #fff;
$color-muted: #777;

$color-bg-body: #2f313c;
$color-bg-gallery: #ffd256;



$color-main: #000;
$color-highlight: hotpink;
$font-size: 15px;

// GENERAL
//-------------------------



