body {
	color: #5E5E5E;
	line-height: 1.5; /* toto sposobi, ze line-height bude jeden aj pol velkosti pisma */
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.group:before,
.group:after {
    content: " "; 
    display: table; 
}

.group:after {
    clear: both;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

nav {
	background: #e74c3c;
}

.menu {
	list-style: none;
	text-align: center;
}

.menu li {
	display: inline-block;
	margin: 28px 3px;
}

.menu a {
	color: #fff;
	font-size: 12px;
	padding: 12px 22px 11px;
	text-transform: uppercase;
	border-radius: 4px;
	transition: .3s all;
}

.menu a:hover, 
.menu a:focus {
	background: rgba(192, 57, 43, 0.6);
}

.logo {
	padding: 60px 0;
	text-align: center;
}

.logo a {
	width: 260px;
	height: 144px;
	display: inline-block;
	background: url('../img/logo.svg');
	text-indent: -9999px;
}

.button {
	width: 100%;
	max-width: 500px;
	display: block;
	padding: 20px 15px;
	background: #e74c3c;
	border: 1px solid #e74c3c;
	margin: 0 auto;
	font-size: 19px;
	border-radius: 4px;
	color: #fff;
	letter-spacing: 1px;
	transition: .3s all;
}

.button:hover {
	color: #e74c3c;
	background: #fff;
}

article {
	margin-top: 50px;
}

article .container {
	padding-top: 520px;
	text-align: center;
	background: url('../img/main.svg') 0 0 no-repeat;
	width: 720px;
}

article h1 {
	color: #E74C3C;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 40px;
}

article p {
	font-size: 22px;
	line-height: 44px;
}

article .button {
	margin: 60px auto 140px;
}

footer {
	background: #c0392b;
	padding: 100px 0;
}

footer,
footer .menu a {
	color: #e74c3c;
}

footer .menu a {
	font-size: 64px;
}

footer a:hover {
	color: #fff;
}

